{% extends 'superbase.html' %}
{% load static %}
{% block header %}
<header id="header" class="header-effect-shrink"
    data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}"
    style="height: 126px;">
    <div class="header-body header-body-bottom-border border-top-0 bg-dark" style="position: fixed; top: 0px;">
        <div class="header-top" style="height: 54px; min-height: 0px; overflow: visible;">
            <div class="container">
                <div class="header-row py-2">
                    <div class="header-column justify-content-start">
                        <div class="header-row">
                            <nav class="header-nav-top">
                                <ul class="nav nav-light-text nav-pills">
                                    <li class="nav-item nav-item-anim-icon d-none d-md-block">
                                        <a class="nav-link pl-0" href="https://soepaing.com/about-us"><i
                                                class="fas fa-angle-right"></i> About Us</a>
                                    </li>
                                    <li class="nav-item nav-item-anim-icon d-none d-md-block">
                                        <a class="nav-link" href="https://soepaing.com/contact-us"><i
                                                class="fas fa-angle-right"></i> Contact Us</a>
                                    </li>
                                    <li
                                        class="nav-item dropdown nav-item-left-border d-none d-sm-block nav-item-left-border-remove nav-item-left-border-md-show">
                                        <a class="nav-link" href="#" role="button" id="dropdownLanguage"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="{% static 'img/blank.gif' %}" class="flag flag-us" alt="English">
                                            English
                                            <i class="fas fa-angle-down"></i>
                                        </a>
                                        <div class="spdropdown-menu dropdown-menu" aria-labelledby="dropdownLanguage"
                                            style="">
                                            <a class="dropdown-item" href="#"><img src="{% static 'img/blank.gif' %}"
                                                    class="flag flag-us" alt="English"> English</a>
                                            <a class="dropdown-item" href="#"><img src="{% static 'img/blank.gif' %}"
                                                    class="flag flag-es" alt="English"> Español</a>
                                            <a class="dropdown-item" href="#"><img src="{% static 'img/blank.gif' %}"
                                                    class="flag flag-fr" alt="English"> Française</a>
                                        </div>
                                    </li>
                                    <li
                                        class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show">
                                        <a href="tel:959972973223"><span class="ws-nowrap"><i class="fas fa-phone"></i>
                                                (95) 9972973223</span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="header-column justify-content-end">
                        <div class="header-row">
                            <ul class="header-social-icons social-icons d-none d-sm-block social-icons-clean">
                                <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank"
                                        title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank"
                                        title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank"
                                        title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-container header-container-height-md container" style="height: 125px; min-height: 0px;">
            <div class="header-row">
                <div class="header-column justify-content-center w-auto-mobile w-50 order-3 order-lg-1">
                    <div
                        class="header-nav justify-content-start header-nav-line header-nav-light-text header-nav-bottom-line">
                        <div
                            class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
                            <nav class="collapse">
                                <ul class="nav nav-pills" id="mainNav">  
                                    <li>
                                        <a      class = {% if request.path == '/' %}
                                                                'active'
                                                        {% else %}
                                                                ''
                                                        {% endif %}
                                                href  = "/"
                                        >
                                            Home
                                        </a>
                                    </li>
                                    <li  class="dropdown">
                                        <a      class="dropdown-item dropdown-toggle
                                                    {% if request.path == '/create_patient_django_pure_form' %}
                                                        active
                                                    {% elif request.path == '/create_patient_modelform' %}
                                                        active
                                                    {% elif request.path == '/create_patient_rawform' %}
                                                        active
                                                    {% else %}
                                                        
                                                    {% endif %}"
                                        >
                                            Patient Form
                                            <i class="fas fa-chevron-down"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a      class = "dropdown-item {% if request.path == '/create_patient_modelform' %}
                                                                    active
                                                                {% else %}
                                                                    
                                                                {% endif %}"
                                                        href  = "/create_patient_modelform"
                                                >
                                                Model Form
                                                </a>
                                            </li>
                                            <li>
                                                <a      class = "dropdown-item {% if request.path == '/create_patient_django_pure_form' %}
                                                                        active
                                                                {% else %}
                                                                        
                                                                {% endif %}"
                                                        href  = "/create_patient_django_pure_form"
                                                >
                                                Django Form
                                                </a>
                                            </li>
                                            <li>
                                                <a      class = "dropdown-item {% if request.path == '/create_patient_rawform' %}
                                                                        active
                                                                {% else %}
                                                                        
                                                                {% endif %}"
                                                        href  = "/create_patient_rawform"
                                                >
                                                Raw Form
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a      class = {% if request.path == '/patients' %}
                                                                'active'
                                                        {% else %}
                                                                ''
                                                        {% endif %}
                                                href  = "/patients"
                                        >
                                            Patients
                                        </a>
                                    </li> 
                                    
                                    
                                    <li>
                                        <a      class = {% if request.path == '/admin' %}
                                                                'active'
                                                        {% else %}
                                                                ''
                                                        {% endif %}
                                                href  = "/admin"
                                        >
                                            Admin
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <button class="btn header-btn-collapse-nav" data-toggle="collapse"
                            data-target=".header-nav-main nav">
                            <i class="fas fa-bars"></i>
                        </button>
                    </div>
                </div>
                <div class="header-column justify-content-center order-1 order-lg-2">
                    <div class="header-row">
                        <div class="header-logo" style="width: 150px; height: 60px;">
                            <a href="/">
                                <img alt="Soe Paing" width="150" height="60" data-sticky-width="100"
                                    data-sticky-height="40" src="{% static 'img/SP-transp.png' %}"
                                    style="top: 0px; width: 150px; height: 60px;">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-center w-100-mobile w-50 order-2 order-lg-3">
                    <div class="header-row justify-content-end">
                        <nav class="header-nav-top d-none d-md-flex">
                            <ul class="nav nav-light-text nav-pills">
                                <li class="nav-item nav-item-anim-icon d-none d-sm-block">
                                    <a class="nav-link pl-0" href="https://soepaing.com/about-us">About Us</a>
                                </li>
                            </ul>
                        </nav>
                        <div
                            class="header-nav-features header-nav-features-center header-nav-features-no-border header-nav-features-md-show-border pr-4 mx-0 mx-md-2">
                            <div class="header-nav-feature header-nav-features-search d-inline-flex">
                                <a href="#" class="header-nav-features-toggle" data-focus="headerSearch"><i
                                        class="fas fa-search header-nav-top-icon"></i></a>
                                <div class="rounded header-nav-features-dropdown header-nav-features-dropdown-mobile-fixed"
                                    id="headerTopSearchDropdown">
                                    <form role="search" action="page-search-results.html" method="get">
                                        <div class="simple-search input-group">
                                            <input class="form-control text-1" id="headerSearch" name="q" type="search"
                                                value="" placeholder="Search...">
                                            <span class="input-group-append">
                                                <button class="btn" type="submit">
                                                    <i class="fa fa-search header-nav-top-icon"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="header-nav-feature header-nav-features-cart d-inline-flex ml-2">
                                <a href="#" class="header-nav-features-toggle">
                                    <img src="{% static 'img/icons/icon-cart.svg' %}"
                                        width="14" alt="" class="header-nav-top-icon-img">
                                    <span class="cart-info d-none">
                                        <span class="cart-qty">1</span>
                                    </span>
                                </a>
                                <div class="rounded header-nav-features-dropdown header-nav-features-dropdown-mobile-fixed"
                                    id="headerTopCartDropdown">
                                    <ol class="mini-products-list">
                                        <li class="item">
                                            <a href="#" title="Camera X1000" class="product-image"><img
                                                    src="{% static 'img/products/product-1.jpg' %}"
                                                    alt="Camera X1000"></a>
                                            <div class="product-details">
                                                <p class="product-name">
                                                    <a href="#">Camera X1000 </a>
                                                </p>
                                                <p class="qty-price">
                                                    1X <span class="price">$890</span>
                                                </p>
                                                <a href="#" title="Remove This Item" class="btn-remove"><i
                                                        class="fas fa-times"></i></a>
                                            </div>
                                        </li>
                                    </ol>
                                    <div class="totals">
                                        <span class="label">Total:</span>
                                        <span class="price-total"><span class="price">$890</span></span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-dark" href="#">View Cart</a>
                                        <a class="btn btn-primary" href="#">Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="https://soepaing.com/contact-us"
                            class="btn btn-lg btn-outline btn-primary font-weight-semibold line-height-1 text-1 ml-2 d-none d-md-inline-block">CONTACT
                            US</a>
                        <a href="#" target="_blank"
                            class="btn btn-lg btn-primary font-weight-semibold line-height-1 text-1 ml-2 d-none d-sm-inline-block">BUY
                            NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</header>
{% endblock header %}
{% block content %}
<div class="masthead bg-image text-center text-white d-flex" style="
                    background-image:url({% static bg_img %});
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    ">
    <div class="container my-auto py-5">
        <div class="row">
            <div class="col-lg-6 mx-auto px-5 d-flex flex-column justify-content-center">
                <div class="row">
                    <h1 class="text-uppercase hero-text appear-animation animated maskUp appear-animation-visible"
                        data-appear-animation="maskUp" style="animation-delay: 100ms;"><strong>Most Affordable Website
                            and Web Application Development</strong></h1>
                    <hr>
                </div>
                <div class="row d-flex justify-content-center">
                    <p class="text-faded mb-5 appear-animation whitetext animated bounceInRight appear-animation-visible"
                        data-appear-animation="bounceInRight" data-appear-animation-delay="0.5"
                        data-appear-animation-duration="2s" style="animation-duration: 2s; animation-delay: 0.5ms;">We
                        can build high quality websites using WordPress and PHP!<br>Just imagine what you want to be, we
                        can make it ALIVE!</p>
                </div>
                <div class="row d-flex justify-content-center mb-5">
                    <a class="btn btn-primary btn-xl js-scroll-trigger appear-animation animated flipInY appear-animation-visible"
                        data-appear-animation="flipInY" data-appear-animation-delay="0"
                        data-appear-animation-duration="1s" role="button" href="#services"
                        style="animation-duration: 1s; animation-delay: 0ms;">Find Out More</a>
                </div>
            </div>
            <div class="col-lg-6 mx-auto px-5">
                <div class="padding4 slider-contact-form-wrapper bg-primary rounded p-5 appear-animation animated fadeInLeftShorter appear-animation-visible"
                    data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="4000"
                    style="animation-delay: 2000ms;">
                    <div class="row">
                        <div class="col text-center">
                            <h2 class="font-weight-light text-color-light text-6 mb-2">Get a <strong>Quote</strong></h2>
                            <p class="padding0 text-color-light opacity-7 font-weight-light mb-4 px-5">Enter your
                                personal info below and let's start talking about your new website or customized
                                project.</p>
                        </div>
                    </div>
                    <div role="form" class="wpcf7" id="wpcf7-f31-o1" lang="en-US" dir="ltr">
                        <div class="screen-reader-response">
                            <p role="status" aria-live="polite" aria-atomic="true"></p>
                            <ul></ul>
                        </div>
                        <form action="/#wpcf7-f31-o1" method="post" class="wpcf7-form init" novalidate="novalidate"
                            data-status="init">
                            <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="31">
                                <input type="hidden" name="_wpcf7_version" value="5.5.6">
                                <input type="hidden" name="_wpcf7_locale" value="en_US">
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f31-o1">
                                <input type="hidden" name="_wpcf7_container_post" value="0">
                                <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                                <input type="hidden" name="_wpcf7_recaptcha_response"
                                    value="03AD1IbLDpyTFFCC8m5cYMqfSOagv88ftCfiJW9AN03PO59_nGL32lk6IGdaeJNVEJH-0HVreZQ3b8jERxypZbQPxgMcpwWuO8FmCte1Zbi1cUjbqag3_-LM2k13zB7NcIaaHyAtptBiR-nF5OjiPiDThOSP5CqOKu2aguARlSOiUqwoRHSyF_EpkriQvizbo5IgRnJSgnDYnCHHu3NLfZ3Cw4iXEmWHMQ-YkSBwurx7LkSTPgZPHrX3nzFlAavgsGGX42NF3PfD2MsJqkW7C386bbJf0W84GJLVrRVWWJCi4-L4-rhloGJOt_DpSVR200CpwgcBFtrvAOzEca9kUmfbLN8fWMqJEX2jZ4lEnbRKm5E8e0jDvJcN2-DIteiRqoJTVKoWyGiafWTNrANadgC-bRRgGwoP44Otp3lj09Fz3zT3S34NbJSYJjKCr1sKEGr46r0gb2q6lKPhLmAm_QE_ap93mNAsLjpBZS6KEj7cus48sHOu4NXnNLKSmc32NWN4AifTV86PI90x43OYYx9BdE-Vrl2O2-FnFez5vpoLSKw3Nr0S6abuEffl9V-M7fKJ-ZrJdlB4Tw">
                            </div>
                            <p><span class="wpcf7-form-control-wrap text-name"><input type="text" name="text-name"
                                        value="" size="40"
                                        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                        aria-required="true" aria-invalid="false" placeholder="Name"></span></p>
                            <p><span class="wpcf7-form-control-wrap email-423"><input type="email" name="email-423"
                                        value="" size="40"
                                        class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                        aria-required="true" aria-invalid="false" placeholder="Email"></span></p>
                            <p><span class="wpcf7-form-control-wrap tel-829"><input type="tel" name="tel-829" value=""
                                        size="40"
                                        class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel"
                                        aria-required="true" aria-invalid="false" placeholder="Phone"></span></p>
                            <p><span class="wpcf7-form-control-wrap text-73"><input type="text" name="text-73" value=""
                                        size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                        aria-required="true" aria-invalid="false" placeholder="Message"></span></p>
                            <p><input type="submit" value="Submit"
                                    class="wpcf7-form-control has-spinner wpcf7-submit btn-dark"><span
                                    class="wpcf7-spinner"></span></p>
                            <div class="wpcf7-response-output" aria-hidden="true"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container py-5">

    <div class="featured-boxes featured-boxes-style-8">
        
        <div class="row">
            <div class="col-lg-6">
                <div class="featured-box featured-box-primary" style="height: 443.391px;">
                    <div class="box-content p-5">
                        <div class="row">
                            <div class="col">
                                <i class="icon-featured far fa-star m-0"></i>
                                <h2 class="font-weight-normal text-6"><strong
                                        class="font-weight-extra-bold">Winner</strong> Design</h2>
                                <div class="divider divider-small divider-small-center">
                                    <hr>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum
                                    pellentesque imperdiet. Quisque rutrum pellentesque imperdiet. Lorem ipsum dolor sit
                                    amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
                                <button class="btn btn-modern btn-dark mr-1" type="button">Learn More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="featured-box featured-box-primary" style="height: 443.391px;">
                    <div class="box-content p-5">
                        <div class="row">
                            <div class="col">
                                <i class="icon-featured far fa-edit m-0"></i>
                                <h2 class="font-weight-normal text-6">Customizable <strong
                                        class="font-weight-extra-bold">Source</strong></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum
                                    pellentesque imperdiet. Quisque rutrum pellentesque imperdiet. Lorem ipsum dolor sit
                                    amet, consectetur adipiscing metus elit.</p>
                                <div class="divider divider-small divider-small-center">
                                    <hr>
                                </div>
                                <button class="btn btn-modern btn-dark mr-1" type="button">Learn More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    

    

    

    <hr class="solid my-5">

    

    <div class="featured-boxes featured-boxes-style-3 featured-boxes-flat">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="featured-box featured-box-primary featured-box-effect-3" style="height: 225.594px;">
                    <div class="box-content box-content-border-0">
                        <i class="icon-featured far fa-heart"></i>
                        <h4 class="font-weight-normal text-5 mt-3">Our <strong
                                class="font-weight-extra-bold">Customers</strong></h4>
                        <p class="mb-2 mt-2 text-2">Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="featured-box featured-box-primary featured-box-effect-3" style="height: 225.594px;">
                    <div class="box-content box-content-border-0">
                        <i class="icon-featured far fa-file-alt"></i>
                        <h4 class="font-weight-normal text-5 mt-3">Our <strong
                                class="font-weight-extra-bold">Customers</strong></h4>
                        <p class="mb-2 mt-2 text-2">Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="featured-box featured-box-primary featured-box-effect-3" style="height: 225.594px;">
                    <div class="box-content box-content-border-0">
                        <i class="icon-featured far fa-star"></i>
                        <h4 class="font-weight-normal text-5 mt-3">Our <strong
                                class="font-weight-extra-bold">Customers</strong></h4>
                        <p class="mb-2 mt-2 text-2">Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="featured-box featured-box-primary featured-box-effect-3" style="height: 225.594px;">
                    <div class="box-content box-content-border-0">
                        <i class="icon-featured far fa-edit"></i>
                        <h4 class="font-weight-normal text-5 mt-3">Our <strong
                                class="font-weight-extra-bold">Customers</strong></h4>
                        <p class="mb-2 mt-2 text-2">Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

  

    

</div>
{% endblock content %}
{% block footer %}
<footer id="footer" class="mt-0">
    <div class="container">
        <div class="footer-ribbon">
            <span>Get in Touch</span>
        </div>
        <div class="row py-5 my-4">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <h5 class="text-3 mb-3">NEWSLETTER</h5>
                <p class="pr-1">Keep up on our always evolving product features and technology. Enter your e-mail
                    address and subscribe to our newsletter.</p>
                <div class="alert alert-success d-none" id="newsletterSuccess">
                    <strong>Success!</strong> You've been added to our email list.
                </div>
                <div class="alert alert-danger d-none" id="newsletterError"></div>
                <form id="newsletterForm" action="php/newsletter-subscribe.php" method="POST" class="mr-4 mb-3 mb-md-0"
                    novalidate="novalidate">
                    <div class="input-group input-group-rounded">
                        <input class="form-control form-control-sm bg-light" placeholder="Email Address"
                            name="newsletterEmail" id="newsletterEmail" type="text">
                        <span class="input-group-append">
                            <button class="btn btn-light text-color-dark" type="submit"><strong>GO!</strong></button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                <h5 class="text-3 mb-3">LATEST TWEETS</h5>
                <!-- <div id="tweet" class="twitter" data-plugin-tweets data-plugin-options="{'username': 'oklerthemes', 'count': 2}">
                    <p>Please wait...</p>
                </div> -->
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                <div class="contact-details">
                    <h5 class="text-3 mb-3">CONTACT US</h5>
                    <ul class="list list-icons list-icons-lg">
                        <li class="mb-1">
                            <i class="far fa-dot-circle text-color-primary"></i>
                            <p class="m-0"><a
                                    href="https://www.google.com/maps/dir/?api=1&amp;travelmode=driving&amp;layer=traffic&amp;destination=16.894859132684,96.192186543933"
                                    target="_blank">580, Thapyay Street, Dagon Myothit (North), Yangon</a></p>
                        </li>
                        <li class="mb-1">
                            <i class="fab fa-whatsapp text-color-primary"></i>
                            <p class="m-0"><a href="tel:959972973223">(95) 9 972 973 223</a></p>
                        </li>
                        <li class="mb-1">
                            <i class="far fa-envelope text-color-primary"></i>
                            <p class="m-0"><a href="mailto:contact@soepaing.com">contact@soepaing.com</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <h5 class="text-3 mb-3">FOLLOW US</h5>
                <ul class="header-social-icons social-icons d-sm-block social-icons-clean">
                    <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank"
                            title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank"
                            title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank"
                            title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container py-2">
            <div class="row h-100 py-4">
                <div
                    class="col-lg-2 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0 pt-md-5 pb-md-5 pb-sm-5 paddingb5">
                    <a href="#" class="logo pr-0 pr-lg-3">
                        <img alt="Porto Website Template" src="{% static 'img/SP-transp.png' %}" height="33">
                    </a>
                </div>
                <div
                    class="col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
                    <p class="ondarkbg">© Copyright 2022. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end">
                    <nav id="sub-menu">
                        <ul>
                            <li><i class="fas fa-angle-right"></i><a href="page-faq.html"
                                    class="ml-1 ondarkbg text-decoration-none"> FAQ's</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="sitemap.html"
                                    class="ml-1 ondarkbg text-decoration-none"> Sitemap</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="contact-us.html"
                                    class="ml-1 ondarkbg text-decoration-none"> Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock footer %}