{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="masthead bg-image text-center text-white d-flex" style="
                    background-image:url({% static bg_img %});
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    ">
    <div class="container my-auto py-5">
        <div class="row">
            <div class="col-lg-6 mx-auto px-5 d-flex flex-column justify-content-center">
                <div class="row">
                    <h1 class="text-uppercase hero-text appear-animation animated maskUp appear-animation-visible"
                        data-appear-animation="maskUp" style="animation-delay: 100ms;"><strong>Most Affordable Website
                            and Web Application Development</strong></h1>
                    <hr>
                </div>
                <div class="row d-flex justify-content-center">
                    <p class="text-faded mb-5 appear-animation whitetext animated bounceInRight appear-animation-visible"
                        data-appear-animation="bounceInRight" data-appear-animation-delay="0.5"
                        data-appear-animation-duration="2s" style="animation-duration: 2s; animation-delay: 0.5ms;">We
                        can build high quality websites using WordPress and PHP!<br>Just imagine what you want to be, we
                        can make it ALIVE!</p>
                </div>
                <div class="row d-flex justify-content-center mb-5">
                    <a class="btn btn-primary btn-xl js-scroll-trigger appear-animation animated flipInY appear-animation-visible"
                        data-appear-animation="flipInY" data-appear-animation-delay="0"
                        data-appear-animation-duration="1s" role="button" href="{% url 'pages:redirect' %}"
                        style="animation-duration: 1s; animation-delay: 0ms;">Find Out More</a>
                </div>
            </div>
            <div class="col-lg-6 mx-auto px-5">
                <div class="padding4 slider-contact-form-wrapper bg-primary rounded p-5 appear-animation animated fadeInLeftShorter appear-animation-visible"
                    data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="4000"
                    style="animation-delay: 2000ms;">
                    <div class="row">
                        <div class="col text-center">
                            <h2 class="font-weight-light text-color-light text-6 mb-2">Get a <strong>Quote</strong></h2>
                            <p class="padding0 text-color-light opacity-7 font-weight-light mb-4 px-5">Enter your
                                personal info below and let's start talking about your new website or customized
                                project.</p>
                        </div>
                    </div>
                    <div role="form" class="wpcf7" id="wpcf7-f31-o1" lang="en-US" dir="ltr">
                        <div class="screen-reader-response">
                            <p role="status" aria-live="polite" aria-atomic="true"></p>
                            <ul></ul>
                        </div>
                        <form action="/#wpcf7-f31-o1" method="post" class="wpcf7-form init" novalidate="novalidate"
                            data-status="init">
                            <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="31">
                                <input type="hidden" name="_wpcf7_version" value="5.5.6">
                                <input type="hidden" name="_wpcf7_locale" value="en_US">
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f31-o1">
                                <input type="hidden" name="_wpcf7_container_post" value="0">
                                <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                                <input type="hidden" name="_wpcf7_recaptcha_response"
                                    value="03AD1IbLDpyTFFCC8m5cYMqfSOagv88ftCfiJW9AN03PO59_nGL32lk6IGdaeJNVEJH-0HVreZQ3b8jERxypZbQPxgMcpwWuO8FmCte1Zbi1cUjbqag3_-LM2k13zB7NcIaaHyAtptBiR-nF5OjiPiDThOSP5CqOKu2aguARlSOiUqwoRHSyF_EpkriQvizbo5IgRnJSgnDYnCHHu3NLfZ3Cw4iXEmWHMQ-YkSBwurx7LkSTPgZPHrX3nzFlAavgsGGX42NF3PfD2MsJqkW7C386bbJf0W84GJLVrRVWWJCi4-L4-rhloGJOt_DpSVR200CpwgcBFtrvAOzEca9kUmfbLN8fWMqJEX2jZ4lEnbRKm5E8e0jDvJcN2-DIteiRqoJTVKoWyGiafWTNrANadgC-bRRgGwoP44Otp3lj09Fz3zT3S34NbJSYJjKCr1sKEGr46r0gb2q6lKPhLmAm_QE_ap93mNAsLjpBZS6KEj7cus48sHOu4NXnNLKSmc32NWN4AifTV86PI90x43OYYx9BdE-Vrl2O2-FnFez5vpoLSKw3Nr0S6abuEffl9V-M7fKJ-ZrJdlB4Tw">
                            </div>
                            <p><span class="wpcf7-form-control-wrap text-name"><input type="text" name="text-name"
                                        value="" size="40"
                                        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                        aria-required="true" aria-invalid="false" placeholder="Name"></span></p>
                            <p><span class="wpcf7-form-control-wrap email-423"><input type="email" name="email-423"
                                        value="" size="40"
                                        class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                        aria-required="true" aria-invalid="false" placeholder="Email"></span></p>
                            <p><span class="wpcf7-form-control-wrap tel-829"><input type="tel" name="tel-829" value=""
                                        size="40"
                                        class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel"
                                        aria-required="true" aria-invalid="false" placeholder="Phone"></span></p>
                            <p><span class="wpcf7-form-control-wrap text-73"><input type="text" name="text-73" value=""
                                        size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                        aria-required="true" aria-invalid="false" placeholder="Message"></span></p>
                            <p><input type="submit" value="Submit"
                                    class="wpcf7-form-control has-spinner wpcf7-submit btn-dark"><span
                                    class="wpcf7-spinner"></span></p>
                            <div class="wpcf7-response-output" aria-hidden="true"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container py-5">

    <div class="featured-boxes featured-boxes-style-8">
        
        <div class="row">
            <div class="col-lg-6">
                <div class="featured-box featured-box-primary" style="height: 443.391px;">
                    <div class="box-content p-5">
                        <div class="row">
                            <div class="col">
                                <i class="icon-featured far fa-star m-0"></i>
                                <h2 class="font-weight-normal text-6"><strong
                                        class="font-weight-extra-bold">Myanmar Geo</strong> API</h2>
                                <div class="divider divider-small divider-small-center">
                                    <hr>
                                </div>
                                <p>Get Myanmar Geolocation data in json format using API call. Send GET request with lat, long data
                                    and receive json with State, Township and Ward or Village Tract names.
                                </p>
                                <a href="{% url 'pages:mm_geo_api_page' %}" class="btn btn-modern btn-dark mr-1" type="button">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="featured-box featured-box-primary" style="height: 443.391px;">
                    <div class="box-content p-5">
                        <div class="row">
                            <div class="col">
                                <i class="icon-featured far fa-edit m-0"></i>
                                <h2 class="font-weight-normal text-6">Customizable <strong
                                        class="font-weight-extra-bold">Source</strong></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum
                                    pellentesque imperdiet. Quisque rutrum pellentesque imperdiet. Lorem ipsum dolor sit
                                    amet, consectetur adipiscing metus elit.</p>
                                <div class="divider divider-small divider-small-center">
                                    <hr>
                                </div>
                                <button class="btn btn-modern btn-dark mr-1" type="button">Learn More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    

    

    

    <hr class="solid my-5">

    

    <div class="featured-boxes featured-boxes-style-3 featured-boxes-flat">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="featured-box featured-box-primary featured-box-effect-3" style="height: 225.594px;">
                    <div class="box-content box-content-border-0">
                        <i class="icon-featured far fa-heart"></i>
                        <h4 class="font-weight-normal text-5 mt-3">Our <strong
                                class="font-weight-extra-bold">Customers</strong></h4>
                        <p class="mb-2 mt-2 text-2">Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="featured-box featured-box-primary featured-box-effect-3" style="height: 225.594px;">
                    <div class="box-content box-content-border-0">
                        <i class="icon-featured far fa-file-alt"></i>
                        <h4 class="font-weight-normal text-5 mt-3">Our <strong
                                class="font-weight-extra-bold">Customers</strong></h4>
                        <p class="mb-2 mt-2 text-2">Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="featured-box featured-box-primary featured-box-effect-3" style="height: 225.594px;">
                    <div class="box-content box-content-border-0">
                        <i class="icon-featured far fa-star"></i>
                        <h4 class="font-weight-normal text-5 mt-3">Our <strong
                                class="font-weight-extra-bold">Customers</strong></h4>
                        <p class="mb-2 mt-2 text-2">Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="featured-box featured-box-primary featured-box-effect-3" style="height: 225.594px;">
                    <div class="box-content box-content-border-0">
                        <i class="icon-featured far fa-edit"></i>
                        <h4 class="font-weight-normal text-5 mt-3">Our <strong
                                class="font-weight-extra-bold">Customers</strong></h4>
                        <p class="mb-2 mt-2 text-2">Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

  

    

</div>
{% endblock content %}