{% extends 'base.html' %}
{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-12 order-1 order-lg-2">
							
                <div class="overflow-hidden mb-1">
                    <h2 class="font-weight-normal text-7 mb-0"><strong class="font-weight-extra-bold">Add new</strong> Patient</h2>
                </div>
                <div class="overflow-hidden mb-4 pb-3">
                    <p class="mb-0">Add new patient to our django database.</p>
                </div>
                {% comment %} <form method="POST"> {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Save" />
                </form> {% endcomment %}
                <form role="form" class="needs-validation" novalidate="novalidate" action="" method="POST">{% csrf_token %}
                    <div class="form-group row">
                        <label class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2 required">Patient Name</label>
                        <div class="col-lg-9">
                            <input class="form-control" required="" type="text" name="patient_name" placeholder="John">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2 required">Date of Birth</label>
                        <div class="col-lg-9">
                            <input class="form-control" required="" type="date" name="date_of_birth">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2 required">Address</label>
                        <div class="col-lg-9">
                            <input class="form-control" required="" type="text" name="address" placeholder="No. 123, Thapyay street, Ward 1, Insein, Yangon.">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2 required">Phone number</label>
                        <div class="col-lg-9">
                            <input class="form-control" required="" type="tel" name="phone_number" placeholder="959972973223">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2 required">Email</label>
                        <div class="col-lg-9">
                            <input class="form-control" required="" type="email" name="email" placeholder="example@mail.com">
                        </div>
                    </div>
                    
                    
                    
                    <div class="form-group row">
                        <label class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2 required">Sex</label>
                        <div class="col-lg-9">
                            <select id="user_time_zone" name='sex' class="form-control" size="0">
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                                <option value="O">Other</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="form-group col-lg-9">
                            
                        </div>
                        <div class="form-group col-lg-3">
                            <input type="submit" value="Save" class="btn btn-primary btn-modern float-right" data-loading-text="Loading...">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock content %}