{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <div class="row align-items-center mb-3">
                    <div class="col-sm-3">
                        <div class="pr-3 pr-sm-5 pb-3 pb-sm-0 border-right-light">
                            <h4 class="mb-2">Patients</h4>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <a href="{{ patient.get_absolute_url }}/edit_patient_modelform" role="button" class="btn btn-primary mb-2">Edit</a>
                        <a href="{{ patient.get_absolute_url }}/delete_patient_view" role="button" class="btn btn-danger mb-2">Delete Patient</a>
                        <a href="/patients/create_patient_rawform" role="button" class="btn btn-success mb-2">New Patient</a>
                    </div>
                </div>
                <div class="row justify-content-md-center" "="">
                    <div class="col-md-9">
                        <div class="featured-box featured-box-secondary text-left mt-0">
                            <div class="box-content">
                                <h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-0">Are you sure to delete this patient?</h4>
                                <p class="text-2 opacity-7">Deleting cannot be undone.</p>
                                <form action="./{{ patient.id }}" id="frmLostPassword" method="POST" class="needs-validation" novalidate="novalidate">{% csrf_token %} 
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label class="font-weight-bold text-dark text-2">Enter patient name to delete.</label>
                                            <input type="text" name="patient_name" value="" class="form-control form-control-lg" required="">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <input type="submit" value="Confirm Delete" class="btn btn-danger btn-modern float-right" data-loading-text="Loading...">
                                            <a href="{{ patient.get_absolute_url }}" role="button" class="btn btn-info mb-2">Cancel</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
            
                    <div class="col-lg-12 mb-4 mb-lg-0">
                        <h5>Patient Details</h5>
        
                        <div class="accordion" id="accordion1">
                            <div class="card card-default">
                                <div class="card-header" id="collapse1HeadingOne">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle" data-toggle="collapse" data-target="#collapse1One" aria-expanded="true" aria-controls="collapse1One">
                                            Patient Demography
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1One" class="collapse show" aria-labelledby="collapse1HeadingOne" style="">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <span class="img-thumbnail d-block">
                                                    <img class="img-fluid" src="{% static 'img/blog/square/blog-4.jpg' %}" alt="Project Image">
                                                </span>
                                            </div>
                                            <div class="col-lg-2 py-2">
                                                <h5>Name</h5>
                                                <p>{{ patient.patient_name }}</p>
                                            </div>
                                            <div class="col-lg-2 py-2">
                                                <h5>Date of Birth</h5>
                                                <p>{{ patient.date_of_birth }}</p>
                                            </div>
                                            <div class="col-lg-2 py-2">
                                                <h5>Address</h5>
                                                <p>{{ patient.address }}</p>
                                            </div>
                                            <div class="col-lg-2 py-2">
                                                <h5>Contacts</h5>
                                                <p>Phone: {{ patient.phone_number }}</p>
                                                <p>Email: {{ patient.email }}</p>
                                            </div>
                                            <div class="col-lg-2 py-2">
                                                <h5>Sex</h5>
                                                <p>{{ patient.sex }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-default">
                                <div class="card-header" id="collapse1HeadingTwo">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle" data-toggle="collapse" data-target="#collapse1Two" aria-expanded="true" aria-controls="collapse1Two">
                                            Accordion Title 1
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1Two" class="collapse show" aria-labelledby="collapse1HeadingTwo" style="">
                                    <div class="card-body">
                                        <p class="mb-0">Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-default">
                                <div class="card-header" id="collapse1HeadingThree">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle" data-toggle="collapse" data-target="#collapse1Three" aria-expanded="true" aria-controls="collapse1Three">
                                            Accordion Title 1
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1Three" class="collapse show" aria-labelledby="collapse1HeadingThree" style="">
                                    <div class="card-body">
                                        <p class="mb-0">Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
{% endblock content %}